{{ package_name }}:
    specs:
      {% for msg in msgs -%}
      - msg: {{ msg.name }}
        message:
          {%- for key, value in msg.message.items() %}
          {{ key }}: {{ value }}
          {%- endfor %}
      {% endfor -%}
      {% for srv in srvs -%}
      - srv: {{ srv.name }}
        request:
          {%- for key, value in srv.request.items() %}
          {{ key }}: {{ value }}
          {%- endfor %}
        response:
          {%- for key, value in srv.response.items() %}
          {{ key }}: {{ value }}
          {%- endfor %}
      {% endfor %}
      {% for action in actions -%}
      - action: {{ action.name }}
        goal:
          {%- for key, value in action.goal.items() %}
          {{ key }}: {{ value }}
          {%- endfor %}
        result:
          {%- for key, value in action.result.items() %}
          {{ key }}: {{ value }}
          {%- endfor %}
        feedback:
          {%- for key, value in action.feedback.items() %}
          {{ key }}: {{ value }}
          {%- endfor %}
      {% endfor %}
    