{{ node_name.strip('/') }}:
  artifacts:
    {{ node_name.strip('/') }}: # change to exector name
      node: {{ node_name.strip('/') }}
      {%- if has_subscribers %}
      subscribers:
        {%- for subscriber in subscribers %}
        "{{ subscriber.name.strip('/') }}":
          type: "{{ subscriber.types[0] }}"
        {%- endfor %}
      {%- endif %}
      {%- if has_publishers %}
      publishers:
        {%- for publisher in publishers %}
        "{{ publisher.name.strip('/') }}":
          type: "{{ publisher.types[0] }}"
        {%- endfor %}
      {%- endif %}
      {%- if has_service_clients %}
      serviceClients:
        {%- for service in service_clients %}
        "{{ service.name.strip('/') }}":
          type: "{{ service.types[0] }}"
        {%- endfor %}
      {%- endif %}
      {%- if has_service_servers %}
      serviceServers:
        {%- for service in service_servers %}
        "{{ service.name.strip('/') }}":
          type: "{{ service.types[0] }}"
        {%- endfor %}
      {%- endif %}
      {%- if has_action_clients %}
      actionClients:
        {%- for action in action_clients %}
        "{{ action.name.strip('/') }}":
          type: "{{ action.types[0] }}"
        {%- endfor %}
      {%- endif %}
      {%- if has_action_servers %}
      actionServers:
        {%- for action in action_servers %}
        "{{ action.name.strip('/') }}":
          type: "{{ action.types[0] }}"
        {%- endfor %}
      {%- endif %}
      {%- if has_parameters %}
      parameters:
        {%- for parameter in parameters %}
        "{{ parameter.name.strip('/') }}":
        {%- if 'Array:' in parameter.types %}
          type:
            {{ parameter.types }}
        {%- else %}
          type: {{ parameter.types }}
        {%- endif %}
          default: {{ parameter.default |safe }}
        {%- endfor %}
      {%- endif %}
